<html lang="en" dir="ltr">
    <head>
        <title><%=name%> | Domaci</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <style>
            body{
                background-color: silver;
                margin-right: 2px;
            }
            h1{
                text-align: center;
            }
            .go-back{
                border-radius: 30px;
                background-color: black;
                color: silver;
                padding: 10px;
                margin-top: 5px;
                transition: 0.3s;
            }
            .go-back:hover{
                background-color: #7B0100;
            }
            .row{
                border-radius: 25px;
                background: lightcoral;
                padding: 10px;
            }
            h2{
                margin-top: 50px;
                margin-bottom: 50px;
                text-align: center;
            }

            .comment{
                border-radius: 25px;
                background: #7B0100 ;
                padding: 15px; 
                width: auto;
                height: auto;
            }

            .comment-thread{
                color: black;
                border-radius: 25px;
                background: #B8B8B8;
                padding: 10px;
                width: auto;
                height: auto;
                float: none;
                display: flex;
            }
            .comment-heading{
                color: black;
                border-radius: 25px;
                background: #B8B8B8;
                padding: 10px;
                width: auto;
                height: auto;
                
            }
            button{
                background-color: silver;
                border-radius: 40px;
                padding: 10px;
                border-color: #7B0100;
                transition: 0.3s;
            }
            button:hover{
                background-color: #7B0100;
                color: silver;
            }
            .likes{
                float: left;
                padding: 5px;
            }
            .dislikes{
                float:left;
                padding: 5px;
            }
            .comment-body{
                color: black;
                border-radius: 25px;
                background: #B8B8B8;
                padding: 10px;
                width: auto;
                height: auto;
                padding-right: 5px;
            }
            .reply-on{
                width: 100%;
            }
            input[type=submit]{
                background-color: silver;
                border-radius: 40px;
                padding: 10px;
                border-color: #7B0100;
                transition: 0.3s;
            }
            input[type=submit]:hover{
                background-color: #7B0100;
                color: silver;
            }
            .replies{
                color: black;
                border-radius: 25px;
                background: #B8B8B8;
                padding: 10px;
                width: auto;
                height: auto;
            }

            .reply{
                color: silver;
                border-radius: 25px;
                background: #424242;
                padding: 10px;
                width: auto;
                height: auto;
            }
            .add-comment{
                background-color: #7B0100;
                color: silver;
                padding: 5px;
                border-radius: 10px;
                padding-bottom: 15px;
                width: auto;
                height: auto;
            }

            .rejting{
                position: absolute;
                top: auto;
                left: auto;
                transform: translate(auto,auto);
                transform: rotateY(180deg);
                display: flex;
                margin-bottom: 50px;
            }

            .rejting input{
                display: none;
            }

            .rejting label{
                display: block;
                cursor: pointer;
                width: 50px;
                /*background: #ccc;*/
            }

            .rejting label:before{
                content: '\f005';
                font-family: fontAwesome;
                position: relative;
                display: block;
                font-size: 30px;
                color: #101010;
            }

            .rejting label:after{
                content: '\f005';
                font-family: fontAwesome;
                position: absolute;
                display: block;
                font-size: 30px;
                color: yellow;
                top: 0;
                opacity: 0;
                transition: .5s;
                text-shadow: 0 2px 5px rgba(0,0,0,.5);
            }
            .rejting label:hover:after,
            .rejting label:hover ~ label:after,
            .rejting input:checked ~ label:after{
                opacity: 1;
            }

            .hidden{
                display: none; 
            }
            .average{
                color: #7B0100;
            }
        </style>
    </head>
    <body>

        <a class="go-back" href="/go-back">Go Back</a>

        <h1><%=name%></h1>

        <p><%=paragraph%></p>
        <br>
        <iframe width="460" height="315" src="<%=video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>

        <h3 class="cena">Cena: <%=cena%></h3>

        <h2>Specifikacije</h2>

        <div class="specs">
            <div class="row">
                <h3>Displej</h3>
                <div class = "col">
                    <ul>
                        <% for(spec in specs_display){ %>
                            <li><%=specs_display[spec]%></li>
                        <%}%>
                    </ul>
                </div>
            </div>

            <div class="row">
                <h3>Platforma</h3>
                <div class = "col">
                    <ul>
                        <% for(spec in specs_plat){ %>
                            <li><%=specs_plat[spec]%></li>
                        <%}%>
                    </ul>
                </div>
            </div>

            <div class="row">
                <h3>Memorija</h3>
                <div class = "col">
                    <ul>
                        <% for(spec in specs_mem){ %>
                            <li><%=specs_mem[spec]%></li>
                        <%}%>
                    </ul>
                </div>
            </div>

            <div class="row">
                <h3>Kamera</h3>
                <div class = "col">
                    <ul>
                        <% for(spec in specs_cam){ %>
                            <li><%=specs_cam[spec]%></li>
                        <%}%>
                    </ul>
                </div>
            </div>

            <div class="row">
                <h3>Baterija</h3>
                <div class = "col">
                    <ul>
                        <% for(spec in specs_battery){ %>
                            <li><%=specs_battery[spec]%></li>
                        <%}%>
                    </ul>
                </row>
            </div>

        </div>
        </div>

        <h2>Komentari</h2>

        <div class="iskustva">
            <% for (c in comments) { %>
                <div class="comment">
                    <div class="comment-thread">
                        <div class="comment-heading">
                            <h4>Ime</h4>
                            <p><%=comments[c].name%></p>
                            <div class="grade">
                                <h4>Ocena</h4>
                                <p><%=comments[c].grade%></p>
                            </div>
                            <div class="likes">
                                <h4>Lajkovi</h4>
                                <p id="like<%=comments[c].id%>"><%=comments[c].likes%></p>
                            </div>
                            <div class="dislikes">
                                <h4>Dislajkovi</h4>
                                <p id="dislike<%=comments[c].id%>"><%=comments[c].dislikes%></p>  
                            </div>
                        </div>
    
                        <div class="comment-body">
                            <h4>Komentar</h4>
                            <p><%=comments[c].comment%></p>
                            
                            <button onclick="like('<%=comments[c].id%>','<%=phoneID%>')">Like</button>
                            <button onclick="dislike('<%=comments[c].id%>','<%=phoneID%>')">dislike</button>
    
                            <form class="reply-on" action="/reply/<%=comments[c].id%>/<%=phoneID%>"method="post">
                                <p>Ime</p>
                                <input type = "text" name="replyName" required>
                                <p>Komentar</p>
                                <input type = "text" name="replyComment" required>
                                <br>
                                <input type="submit" value="Reply">
                            </form>
                        </div>
                    </div>
                    
                    <div class="replies">
                        <h4>Odgovori na komentar</h4>
                        <%for(o in comments[c].replies){ %>
                            <div class="reply">
                                <p>Ime</p>
                                <p><%=comments[c].replies[o].name%></p>
                                <p>Odgovor</p>
                                <p><%=comments[c].replies[o].comment%></p>
                            </div>
                        <%}%>
                    </div>

                </div>
            <%} %>
        </div>

        <h3>Dodaj komentar</h3>
        <form class="add-comment" action="/new-comment/<%=phoneID%>" method="post">
            <p>Ime</p>
            <input type = "text" name="name" required>
            <p>Komentar</p>
            <input type = "text" name="comment" required>
            <p>Ocena</p>

            <div  class="rejting">
                <input type="radio" name="star" value=5 id="star1" required><label for="star1">
                </label>
                <input type="radio" name="star" value=4 id="star2"><label for="star2">
                </label>
                <input type="radio" name="star" value=3 id="star3"><label for="star3">
                </label>
                <input type="radio" name="star" value=2 id="star4"><label for="star4">
                </label>
                <input type="radio" name="star" value=1 id="star5"><label for="star5">
                </label>
            </div>
            <br>
            <br>
            <input type="submit">
        </form>
        <h2 class="average">Prosecna ocena: <%=average%></h2>

        <script> 
        function like(comID, phoneID){
            fetch(`/like/${comID}/${phoneID}`, {method: 'POST'})
            .then(function(response) {
                if(response.ok) {
                    const like = document.getElementById(`like${comID}`);
                    var novibr = parseInt(like.innerHTML);
                    novibr++;
                    like.innerHTML = novibr.toString();
                    return;
                }
            throw new Error('Request failed.');
            })
            .catch(function(error) {
                console.log(error);
            });
            
        }
        
        function dislike(comID, phoneID){
            fetch(`/dislike/${comID}/${phoneID}`, {method: 'POST'})
            .then(function(response) {
                if(response.ok) {
                    const dislike = document.getElementById(`dislike${comID}`);
                    var novibr = parseInt(dislike.innerHTML);
                    novibr++;
                    dislike.innerHTML = novibr.toString();
                    return;
                }
            throw new Error('Request failed.');
            })
            .catch(function(error) {
                console.log(error);
            });
            
        
        }</script>

    </body>
</html>